@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
        <a href="/customersView">Customers</a>
        <br/>
        <a href="/usersView">Users</a>
        <br/>
        <a href="/vouchersView">Vouchers</a>
        <br/>
        <a href="/bonus-cardsView">Bonus Cards</a>
        <br/>
        <a href="/cart/entriesView">Cart Entries</a>
        <br/>
        <a href="/ordersView">Orders</a>
        <br/>
        <a href="/transactionsView">Transactions</a>
        <br/>
        <a href="/promotionsView">Promotions</a>
        <br/>
        <a href="/productsView">Products</a>
        <br/>
        <a href="/categoriesView">Categories</a>

      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
